.img-wrapper {
    display: flex;
    gap: 10px;
}

.img-wrapper > div, 
.img-wrapper iframe {
    flex: 1; 
    max-width: 50%;
}

.zoom-slider {
    margin-bottom: 10px;
}

.zoom-slider label {
    margin-right: 10px;
}

.horizontal-divider {
    height: 10px;
}

.block {
    margin: 10px;
}
